<section class="sec">
  <div class="sec__wrapper sec__wrapper-about">
    <h2 class="about about__ttl">グルレポとは</h2>
    <p class="about about__txt">
      おいしい食べ物についてのSNSです。
      <br>
      みなさんのおいしい食べ物の情報を共有してください。
    </p>
  </div>
</section>