// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ----- * index * ----- //

.post {
  width: 80%;
  height: 10rem;
  margin: auto;
  border-bottom: 1px solid #000;

  &__inner {
    background-color: #eceae4;
    position: relative;
    font-size: 2rem;
    color:  #d63d17;
  }
  
  &__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 92.5%;
    height:100%;
    text-decoration: none;
  }
  
    &__list {
      display: flex;
      width: 100%;
    }

    &__user-image {
      display: block;
      width: 8rem;
      height: 8rem;
      margin: auto 5rem;
      border-radius: 50%;
    }

  &__content {
    display: flex;
    padding: 2rem;


    &-col {
      width: 20rem;
      &:last-child {
        width: 40rem;
      }
    }
  }

  &__image {
    width: 10rem;
    background-color: blue;

    &-product {

    }
  }

  &__like {
    display:flex;
    width: 7.5%;
    font-size: 1.5rem;
    position: relative;
    &-item {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &-count {
      display: inline-block;
    }
  }


  &__item {
    height: 100%;
  }


  &__info {
    // flex-grow: 2;
    margin: 1.5rem 0;
    font-size: 2rem;
    line-height: 1.5;

    &-item {
      width: 20rem;
      margin-right: 5rem;
      // &:last-child {
      //   width: 25rem;
      // }
    }
  }

  &__post-image {
    width: 8rem;
    height: 100%;
    margin-right: 5rem;
    background-color: aqua;
  }
}


// ----- * show * ----- //
.detail {
  width: 80%;
  height: 80%;
  background-color: #eceae4;

  &__inner {
    margin: 0 auto;
    padding: 5rem 10rem;
    font-size: 2.5rem;
    color: #d63d17;
  }
}

.head {
  width: 100%;
  height: 10rem;
  // margin-bottom: 5rem;
  // background-color: aqua;

  &__left {
    width: 10rem;
    height: 10rem;
    margin-right: 5rem;
  }

  &__user-img {
    width: 100%;
    height: 100%;
  }

  &__right {
    width: 10rem;
    height: 10rem;
    margin: 0 5rem;
    padding: 3rem 0;
    text-align: center;
    vertical-align: middle;

    &-like {
      margin: auto;
    }
  }
}

.body {
  width: 100%;
  height: 35rem;
  // background-color: blue;

  &__left {
    position: relative;
  }

  &__right {
    position: absolute;
    left: 50%;
  }

  &__bottom {
    height: 10rem;
    position: relative;

    &-btn {
      position: absolute;
      top: 30%;
      left: 85%;
    }
  }
}

// ----- * form * ----- //
.form {
  &__right {
    margin: 0 auto;
  }

  &__item {
    display: block;
    margin-bottom: 0;
  }

  &__bottom {
    position: relative;
    
    &-btn {
      position: absolute;
      top: 45%;
      left: 85%;
    }
  }

  &__control {
    width: 30rem;
    height: 4rem;
  }
  

  &__img {
    width: 8rem;
    height: 8rem;
  }

}

// ----- * message * ----- //

.flash {
  width: 80%;
  height: 5rem;
  margin: 0 auto;
  color: #fff;
  font-size: 3rem;
  text-align: center;
  background: #FABD04;
}
