// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// ----- * 共通レイアウト * ----- //

.user {
  width: 80%;
  height: 10rem;
  margin: auto;

  &__inner {
    background-color: #eceae4;
  }

  // ----- * index * ----- //

  &__link {
    width: 100%;
    height: 100%;
  }

  &__list {
    height: 100%;
    margin: 0 5rem;
  }

  &__image {
    width: 8rem;
    height: 100%;
    display: inline-block;
    margin-right: 5rem;
    background-color: aqua;
  }

  &__name {
    width: 100%;
    height: 100%;
    padding: 2.5rem 0;
    font-size: 3rem;
  }

  // ----- * show * ----- //

  &-show {
    &__head {
      width: 20rem;
      height: 20rem;
      margin: 0 auto;
    }

    &__img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }

    &__item {
      margin-bottom: 5rem;
    }

    &__body {
      width: 100%;
      text-align: center;
    }
  }

  // ----- * edit * ----- //
  &-edit {
    &__message-error {
      text-align: center;
    }
  }

  // ----- * new * ----- //
  &-new {
    width: 50%;
    height: 50rem;
    margin: 0 auto;
    padding: 5rem;
    position: relative;
    top: 10%;

    &__inner {
      font-size: 2.5rem;
      background-color: #eceae4;
    }

    &__form {
      &-content {
        text-align: center;
      }
      &-item {
        margin-bottom: 3rem;
      }
    }
  }
}
